  #about {
    padding-bottom: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #about p {
    max-width: 60%;
  }

  .welcome {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: -100px;
  }

  .welcome > div {
    backdrop-filter: blur(2px);
    border: 3px solid #000000d9;
    padding: 5rem 12rem;
    border-radius: 20px;
    box-shadow: 0 0 50px var(--c-black);
    align-items: center;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .horizontal__line {
    width: 35rem;
    height: 5px;
    border-radius: 2.5px;
    background: linear-gradient(110deg, var(--c-red), var(--c-black), var(--c-blue));
    background-size: 200% 200%;
    animation: gradient-circles 3s ease infinite;
    -webkit-animation: gradient-circles 3s ease infinite;
  }

  @keyframes gradient-circles {
    0% {
      background-position:10% 0%
    }
    50% {
      background-position:91% 100%
    }
    100% {
      background-position:10% 0%
    }
  }

  @-webkit-keyframes gradient-circles {
    0% {
      background-position:10% 0%
    }
    50% {
      background-position:91% 100%
    }
    100% {
      background-position:10% 0%
    }
  }

  @media (max-width: 600px) {
    #about p {
      max-width: 100%;
    }

    .horizontal__line {
      width: 15rem;
    }
  }

  @media (max-width: 950px) {
    .welcome > div {
      border: none;
      backdrop-filter: none;
      padding: 0;
      box-shadow: none;
    }
  }