html {
  scroll-behavior: smooth;
}

* {
  cursor: none;
}

body {
  --background: #DEDCE4;
  --c-red: #710019;
  --c-blue: #73BACF;
  --c-black: #161616;
  --c-yellow: #ffdc60;
  --c-turquoise: #17f1d1;
  --scroll-height: 100vh;

  background-color: var(--background);
  overflow-x: hidden;
  font-family: 'Space Mono', monospace;
  position: relative;
  margin: 0;
}

h1 {
  font-size: 3rem;
  margin: 10px;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

section {
  position: relative;
  padding: 1rem 4rem;
}

section * {
  z-index: 2;
}

section:nth-of-type(2n) {
  background-color: var(--c-black);
  color: white;
  padding: 6rem 4rem;
  margin-top: 6rem;
}

input, textarea {
  border: none;
  background-color: transparent;
  border-bottom: var(--background);
}

input:focus, textarea:focus {
  outline: none;
}

button {
  font-family: monospace;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--c-yellow);
  border: none;
  border-radius: 10px;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

@media (max-width: 600px) {
  section {
    padding: 1rem 2rem;
  }
}

/* ---------------- EFFECTS ---------------- */

/* DOTS:  */

.dots {
  background: linear-gradient(270deg, var(--c-red), var(--c-blue));
}

.dots::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(transparent 0, var(--background) 2px);
  background-size: 20px 20px;
  z-index: -2;
}

/* SCROLL EFFECT:  */

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

/* CURVE:  */

.curve {
  position: absolute;
  transform: scaleX(2);
}

.top__curve {
  top: -100px;
}

.bottom__curve {
  bottom: -100px
}

/* BUTTON HOVER:  */

.btn__hover-eff {
  position: relative;
  overflow: hidden;
}

.btn__hover-eff::after, .btn__hover-eff::before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 50%;
  transition:  .3s;
  background-color: var(--c-blue);
  z-index: -1;
}

.btn__hover-eff::after {
  left: 0;
  top: 0;
  right: auto;
}
.btn__hover-eff:hover::after {
  width: 100%;
  right: 0;
  left: auto;
}

.btn__hover-eff::before {
  right: 0;
  bottom: 0;
  left: auto;
}
.btn__hover-eff:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

/* BUTTON COLOR WAVE:  */

.btn__color-eff {
  position: relative;
  overflow: hidden;
}

.btn__color-eff * {
 display: block;
}

.btn__color-eff .colors-layer > * {
  height: 100px;
  width: 100%;
  transform: translateY(60px);
  transition: all 0s;
  border-radius: 50% 50% 0 0;
  left: 0;
  position: absolute;
  transform-origin: center;
  z-index: -1;
}

.btn__color-eff:hover .colors-layer > * {
  transform: scale(2.1) translateY(-60px);
  transition: transform 1.4s, width .5s, height .5s, left .5s;
}

.btn__color-eff:hover .colors-layer .first-layer {
  height: 10px;
}

.btn__color-eff:hover .colors-layer .second-layer {
  height: 100px;
  width: 200%;
  left: -50%;
}

.colors-layer .first-layer {
  top: 0;
  background-color: var(--c-turquoise);
}

.colors-layer .second-layer {
  top: 20px;
  background-color: var(--c-yellow);
}

.colors-layer .third-layer {
  top: 40px;
  background-color: var(--c-black);
}

.btn__color-eff .text-move * {
  transition: all 0s;
  text-decoration: none;
  color: var(--background);
}

.btn__color-eff:hover .text-move * {
  transition: transform 1s, opacity 2s;
}

.btn__color-eff:hover .text-move .main-text {
  transform: translateY(-50px);
  opacity: 0;
}

.btn__color-eff .text-move .secon-text {
  transform: translateY(50px);
  opacity: 0;
}

.btn__color-eff:hover .text-move .secon-text {
  transform: translateY(-18px);
  opacity: 1;
}

/* ---------------- EFFECTS DONE ! ---------------- */

/* --------------- CONTACT ME: --------------- */

.social__media > * {
  padding: 1rem 2rem;
  width: 8rem;
  margin: .5rem;
  border-radius: 10px;
  border: solid 2px var(--c-yellow);
  background-color: var(--c-yellow);
  color: var(--c-black);
  display: flex;
  justify-content: center;
}

.social__media > * > p {
  margin: 0 0 0 .3rem;
  font-size: 15px;
}

#contact__form {
  max-width: 50%;
  width: -webkit-fill-available;
}

#contact__form > *:last-child {
  margin-left: 3rem;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact__form button {
  margin-left: auto;
  height: 4rem;
  width: 100%;
}

.form__item {
  padding: 1rem;
  border: 2px solid;
  border-radius: 10px;
}

.form__item input {
  color: white;
  width: 70%;
}

.form__message {
  margin: 0 4rem;
  max-width: 60%;
  max-height: 100%;
}

.form__message textarea {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  color: var(--background);
  
  min-height: 30%;
  max-height: 300%;
  max-width: 100%;
  min-width: 65%;
}

@media (max-width: 600px) {
  #contact {
    padding: 6rem 2rem;
    flex-direction: column;
    align-items: center;
  }

  .social__media {
    display: flex;
  }
  
  .social__media > * {
    padding: 1rem 0;
    width: 4rem;
  }

  .social__media > * > p {
    display: none;
  }

  #contact__form {
    max-width: 100%;
    flex-direction: column;
  }
  
  #contact__form > *:last-child {
    margin-left: 0;
    min-width: 10%;
    display: block;
  }

  .form__message {
    margin: 0 1rem;
    max-width: 100%;
    max-height: 100%;
  }

  .form__item {
    margin: 1rem 0;
  }

  #contact__form button {
    margin-top: 1rem;
  }
}
/* --------------- CONTACT ME DONE ! --------------- */

/* --------------- FOOTER :  --------------- */

#footer img {
  width: 100px;
}

.footer__bottom {
  justify-content: space-between;
}

.footer__bottom button {
  font-size: 20px;
  padding: 5px;
  transition: transform .3s, box-shadow .3s;
  border: 2px solid var(--background);
  background-color: var(--c-black);
  color: WHITE;
  border-radius: 5px;
  box-shadow: 1px 1px 1px white;
}

.footer__bottom button:hover {
  box-shadow: 1px 1px 15px white;
  transform: scale(1.1);
}

/* --------------- FOOTER DONE ! --------------- */