body {
  --background: #DEDCE4;
  --primary-red: #710019;
  --primary-blue: #73BACF;
  
  background-color: var(--background);
  font-family: 'Space Mono', monospace;
  margin: 0;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
}

.aling-center {
  align-items: center;
}

.hover-eff {
  transition: transform .3s;
}

.hover-eff:hover {
  transform: scale(1.1);
}

/* ---------------- HEADER ---------------- */

.navbar {
  position: sticky;
  top: 0;
  justify-content: space-between;
  font-size: 1rem;
  padding: 2rem 6rem;
  background-color: var(--background);
}

.navbar img {
  width: 3rem;
  animation: float 5s ease 0s infinite;
}

.nav__item {
  padding: 0.75rem;
  color: #000000;
  text-decoration: none;
}

@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  66% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 450px) {
  .navbar {
    padding: 1rem 1rem;
  }
  .nav__item {
    padding: 0.8rem;
  }
}

/* ---------------- HEADER DONE ! ---------------- */

/* --------------- ABOUT ME --------------- */

#about {
  padding: 1rem 2rem;
  flex-direction: column;
  justify-content: center;
}

#about h1 {
  font-size: 50px;
  margin: 10px;
  cursor: default;
}

.waves * {
  width: 500px;
  height: 500px;
  position: absolute;
  left: -250px;
  opacity: 0.5;
  border-radius: 40%; 
  z-index: -2;
}

.blue__waves * {
  background-color: var(--primary-blue);
  right: -250px;
  left: auto;
  top: 250px;
}

.red__waves * {
  background-color: var(--primary-red);
}

.horizontal__line {
  width: 35rem;
  height: 5px;
  border-radius: 2.5px;
  background: linear-gradient(110deg, var(--primary-red), #000000, var(--primary-blue));
  background-size: 200% 200%;
  animation: gradient-wave 3s ease infinite;
}

.waves  *:nth-of-type(n) {
  animation: wave 15s linear -1s infinite;
}
.waves  *:nth-of-type(2n) {
  animation: wave 18s linear -1s infinite;
}
.waves  *:nth-of-type(3n) {
  animation: wave 21s linear -1s infinite;
}

@keyframes gradient-wave {
  0% {
    background-position:10% 0%
  }
  50% {
    background-position:91% 100%
  }
  100% {
    background-position:10% 0%
  }
}

@keyframes wave {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media (max-width: 450px) {
  .horizontal__line {
    width: 15rem;
  }
}

/* --------------- ABOUT ME DONE ! --------------- */

/* --------------- TECHNOLOGY STACK --------------- */

.tech__img > *{
  width: 50px;
}

/* --------------- TECHNOLOGY STACK DONE ! --------------- */