  .social__media > * {
    padding: 1rem 2rem;
    width: 8rem;
    margin: .5rem;
    border-radius: 10px;
    border: solid 2px var(--c-yellow);
    background-color: var(--c-yellow);
    color: var(--c-black);
    display: flex;
    justify-content: center;
  }

  .social__media > * > p {
    margin: 0 0 0 .3rem;
    font-size: 15px;
  }

  #contact__form {
    max-width: 50%;
    width: -webkit-fill-available;
    display: flex;
  }

  #contact__form > *:last-child {
    margin-left: 3rem;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #contact__form button {
    margin-left: auto;
    height: 4rem;
    width: 100%;
  }

  .form__item {
    padding: 1rem;
    border: 2px solid;
    position: relative;
    border-radius: 10px;
  }

  .form__item input {
    color: white;
    width: 70%;
  }

  .form__message {
    margin: 0 4rem;
    max-width: 60%;
    max-height: 100%;
  }

  .form__message textarea {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: var(--background);

    min-height: 30%;
    max-height: 300%;
    max-width: 100%;
    min-width: 65%;
  }

  @media (max-width: 600px) {
    * {
      cursor: default;
    }

    #contact {
      padding: 6rem 2rem;
      flex-direction: column;
      align-items: center;
    }

    .social__media {
      display: flex;
    }

    .social__media > * {
      padding: 1rem 0;
      width: 4rem;
    }

    .social__media > * > p {
      display: none;
    }

    #contact__form {
      max-width: 100%;
      flex-direction: column;
    }

    #contact__form > *:last-child {
      margin-left: 0;
      min-width: 10%;
      display: block;
    }

    .form__message {
      margin: 0 1rem;
      max-width: 100%;
      max-height: 100%;
    }

    .form__message textarea {
      width: 100%;
    }

    .form__item {
      margin: 1rem 0;
    }

    #contact__form button {
      margin-top: 1rem;
    }
  }

  .form__item:not(.form__message).disabled {
    cursor: none
  }

  .form__item:not(.form__message).disabled::after {
    content: "!";
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    background-color: #CC0000;
    font-size: 15px;
    font-weight: 1000;
  }

  .form__item:not(.form__message).disabled::before {
    content: "Add a valid email !";
    transition: all .3s;
    color: WHITE;
    position: absolute;
    overflow: hidden;
    background-color: BLACK;
    top: 0;
    right: 1rem;
    width: 0;
    height: 0;
    opacity: 0;
    padding: 0.5rem 0rem 0.5rem 1rem;
    border-radius: 15px;
    font-size: 16px;
  }

  .form__item:not(.form__message).disabled:hover::before {
    top: -5rem;
    right: -1rem;
    width: 5em;
    height: 4em;
    opacity: 1;
  }