#language-icon {
    height: 1.5rem;
}

#languages {
    position: absolute;
    right: 2rem;
    top: 3.5rem;
    background-color: var(--background);
    border: 2px solid var(--c-black);
    overflow: hidden;
    animation: openLanguage 1s ease 0s 1 normal forwards;
}

#languages ul {
    text-align: center;
    list-style-type: none;
    margin: 2rem 2rem;
    padding: 0;
}

#languages ul li {
    margin: 2rem 0;
    padding: .5rem;
}

#languages ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: width 1s cubic-bezier(0.75, 0, 0, 1);
    background: linear-gradient(110deg, var(--c-red), var(--c-black), var(--c-blue));
    background-size: 200% 200%;
    animation: gradient-circles 3s ease infinite;
    -webkit-animation: gradient-circles 3s ease infinite;
}

#languages ul li:hover::after {
    width: 100%;
}  

@keyframes openLanguage {
    from { height: 0; }
    to { height: 23rem; }
}