#language-icon {
    height: 1.5rem;
}

#languages {
    position: absolute;
    right: 2rem;
    top: 3.5rem;
    background-color: var(--background);
    border: 2px solid var(--c-black);
    overflow: hidden;
    animation: openLanguage 1s ease 0s 1 normal forwards;
}

#languages ul {
    text-align: center;
    list-style-type: none;
    margin: 2rem 2rem;
    padding: 0;
}

#languages ul li {
    margin: 2rem 0;
    padding: .5rem;
}

#languages ul li {
    animation: borderHoverEff 2s ease-in 1 normal forwards;
}

@keyframes openLanguage {
    from { height: 0; }
    to { height: 23rem; }
}

@keyframes borderHoverEff {
    from { border-bottom: none; }
    to { border-bottom: 2px solid black; }
}