  .mouse-tracker {
    border-radius: 50%;
    z-index: 10;
    aspect-ratio: 1;
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }

  .mouse-tracker.circle{
    transition: all .2s;
    height: 30px;
    width: 30px;
    backdrop-filter: invert(1);
  }

  .mouse-tracker.cursor{
    height: 10px;
    transition: all .3s;
    box-shadow: 0px 0px 0px 2px var(--background);
    background-color: var(--c-black);
  }

  body:has(button:hover, a:hover, #language-icon:hover) .mouse-tracker.cursor {
    height: 30px;
    backdrop-filter: invert(1);
    background-color: transparent;
    box-shadow: 0px 0px 5px 5px var(--c-black);
  }

  body:has(button:hover, a:hover, #language-icon:hover) .mouse-tracker.circle {
    height: 0px;
    width: 0px;
    transition: all .8s;
  }

  body:has(input:hover, textarea:hover) .mouse-tracker.cursor {
    height: 0px;
    box-shadow: none;
  }

  body:has(input:hover, textarea:hover) .mouse-tracker.circle {
    height: 90px;
    width: 2px;
    animation:
              start-input-hover-eff 0.5s ease-out 0.3s 1 normal forwards,
              input-hover-eff 1s ease-out 0.8s infinite normal forwards;
    -webkit-animation:
              start-input-hover-eff 0.5s ease-out 0.3s 1 normal forwards,
              input-hover-eff 1s ease-out 0.8s infinite normal forwards;
    border-radius: 1px;
    transition: all .3s;
  }

  @keyframes start-input-hover-eff {
    from { height: 90px; }
    to { height: 0px; }
  }

  @keyframes input-hover-eff {
    0% { height: 0px; }
    50% { height: 30px; }
    100% { height: 0px; }
  }

  @-webkit-keyframes start-input-hover-eff {
    from { height: 90px; }
    to { height: 0px; }
  }

  @-webkit-keyframes input-hover-eff {
    0% { height: 0px; }
    50% { height: 30px; }
    100% { height: 0px; }
  }

  @media (max-width: 600px) {
    .mouse-tracker {
      display: none;
    }
  }